<div class="home__container">
  <app-card
    gameCover="https://image.api.playstation.com/vulcan/ap/rnd/202310/0214/c21c0669eaca7f3e02c41cad5e1a20f867aafcf14104f046.png?w=440&thumb=false"
    gameLabel="STANDARD"
    gameType="DIGITAL | PS4 PS5"
    gamePrice="R$ 358,90"
  ></app-card>
  <app-card
    gameCover="https://image.api.playstation.com/vulcan/ap/rnd/202208/1718/phwiQjbJddEg979YucUoP3Vr.png?w=440&thumb=false"
    gameLabel="STANDARD"
    gameType="DISC | PS4 PS5"
    gamePrice="R$ 239,90"
  ></app-card>
  <app-card
    gameCover="https://image.api.playstation.com/pr/bam-art/164/602/e0753123-4f8e-4bb4-bb3b-df55e0bfb75d.png?w=440&thumb=false"
    gameLabel="DELUXE"
    gameType="DIGITAL | PS5"
    gamePrice="R$ 349,90"
  ></app-card>
  <app-card
    gameCover="https://image.api.playstation.com/pr/bam-art/163/145/ae13a8ef-c0d9-4ceb-bb18-328e71f87f05.jpg?w=440&thumb=false"
    gameLabel="DELUXE"
    gameType="DIGITAL | PS5"
    gamePrice="R$ 528,90"
  ></app-card>
  <app-card
    gameCover="https://image.api.playstation.com/vulcan/ap/rnd/202308/1722/2db31d90ad0b147e13a9e413fcaea9a64e8a26dfaf4c8299.png?w=440&thumb=false"
    gameLabel="PRÉ VENDA"
    gameType="DIGITAL | PS4 PS5"
    gamePrice="R$ 419,00"
  ></app-card>
  <app-card
    gameCover="https://image.api.playstation.com/vulcan/ap/rnd/202308/2308/e3e15c28b56aa40ea81bd6cd0218a056cbad1b6867793c80.png?w=440&thumb=false"
    gameLabel="PRÉ VENDA"
    gameType="DIGITAL | PS5"
    gamePrice="R$ 399,50"
  ></app-card>
  <app-card
    gameCover="https://image.api.playstation.com/vulcan/ap/rnd/202306/1416/b86683b5975c61ddd1b943aeed52b664c58bc31bf47a3ee8.png?w=230&thumb=false"
    gameLabel="DELUXE"
    gameType="DIGITAL | PS4 PS5"
    gamePrice="R$ 424,50"
  ></app-card>
</div>
